<div class="formPage">
  <h1>form</h1>
  <form action="/confirmationPage" method="POST">
    First Name: <input type="text" name="first_name"><br><br>
    Last Name: <input type="text" name="last_name"><br><br>
    Billing Address: <input type="text" name="address"><br><br>
    Email: <input type="text" name="email">
    Hotel: <select name="hotel" id="hotelList">
      <option value="Hyatt"> Hyatt</option>
      <option value="Hilton Hawaiian Village">Hilton Hawaiian Village</option>
      <option value="Halekulani">Halekulani</option>
      <option value="Sheraton">Sheraton</option>

    </select>


  </form>
</div>