<h1>Order Status</h1>

<form action="http://localhost:3000/{{ id}}" method="GET" enctype="application/x-www-form-urlencoded">
	
	<label for="orderNumber">
		Enter your Order Number to check the status of your order.
	</label>

	<br>

	<input type="text">

	<br>

	<button type="submit" >Submit</button>

</form>



